/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Global styles
   ========================================================================== */
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.fix {
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/futur.ttf");
  src: local('☺'), url("../fonts/futur.ttf") format('woff'), url("../fonts/futur.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/futuramediumbt.ttf");
}
@font-face {
  font-family: 'NotoSansCJKjp';
  src: url("../fonts/nato/NotoSansCJKjp-Regular-sub.otf");
}
@font-face {
  font-family: 'NotoSansCJKjp-Medium';
  src: url("../fonts/nato/NotoSansCJKjp-Medium-sub.otf");
}
@font-face {
  font-family: 'NotoSansCJKjp-Bold';
  src: url("../fonts/nato/NotoSansCJKjp-Bold-sub.otf");
}
@font-face {
  font-family: 'NotoSansCJKjp-DemiLight';
  src: url("../fonts/nato/NotoSansCJKjp-DemiLight-sub.otf");
}
body {
  font-family: 'NotoSansCJKjp', sans-serif;
  font-weight: 400;
}
/*color variable*/
.gradient-bg {
  background: -moz-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff8800), color-stop(100%, #ffb000));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #ff8800 0%, #ffb000 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8800', endColorstr='#ffb000', GradientType=1);
  /* ie6-9 */
}
.main-rap {
  width: -webkit-calc(100% - 251px);
  width: calc(100% - 251px);
  float: right;
}
.inner-rap {
  width: 95%;
  margin: 0 auto;
}
/*
Author:RoktimSazib
url:http://www.codingavatar.com/me
description:Square-Wheel-Survey-LP
 */
/* These are the conditional mixins for the different syntax for IE10 Flexbox */
/* ==========================================================================
   Style for pc
  ========================================================================== */
/* About
  * By:@RoktimSazib
  * 23 Aug 2019
  */
.about-section {
  position: relative;
  top: -72px;
  z-index: 2;
}
.about-section .about-rap {
  background-image: url("../images/aboutbg@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about-section .about-rap .about-content {
  margin: 58px auto 22px;
  padding-top: 55px;
}
.about-section .about-rap .about-content h1 {
  font-size: 46px;
  color: #333;
  font-weight: 500;
  font-family: 'Futura-Medium';
  text-align: center;
}
.about-section .about-rap .about-content .content {
  margin-top: 50px;
  text-align: center;
  padding: 0 10px 75px;
}
.about-section .about-rap .about-content .content p {
  font-size: 18px;
  color: #333;
  font-family: 'NotoSansCJKjp';
  font-weight: 500;
  margin-bottom: 29px;
}
/* Recommend
  * By:@RoktimSazib
  * 25 Aug 2019
  */
.recommend-section {
  position: relative;
  top: -82px;
}
.recommend-section .owl-item > div:after {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.recommend-section .owl-item.active {
  opacity: 0.5;
}
.recommend-section .owl-item.active.center {
  opacity: 1;
}
.recommend-section .owl-item.active.center {
  opacity: 1;
}
.recommend-section .owl-item.active.center .rec-item {
  width: 80% !important;
  margin: 0 auto !important;
}
.recommend-section .recommend-wrap {
  background-image: url("../images/recommend/bg@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.recommend-section .recommend-wrap .recommend-inner {
  padding: 79px 0 104px;
  position: relative;
}
.recommend-section .recommend-wrap .recommend-inner .section-title {
  font-size: 46px;
  color: #fff;
  font-weight: 500;
  font-family: 'Futura-Medium';
  text-align: center;
  letter-spacing: -1px;
}
.recommend-section .recommend-wrap .recommend-inner div#Rec-customDots {
  position: relative;
  top: -40px;
  right: 0;
  text-align: right;
  width: 94%;
  margin: 0 auto;
}
.recommend-section .recommend-wrap .recommend-inner button.owl-dot.active span {
  opacity: 1 !important;
}
.recommend-section .recommend-wrap .recommend-inner .owl-dots {
  margin-top: 43px;
  text-align: center;
}
.recommend-section .recommend-wrap .recommend-inner .owl-dots button.owl-dot.active {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.recommend-section .recommend-wrap .recommend-inner .owl-dots .owl-dot {
  background: transparent;
  border: none;
  display: inline-block;
  zoom: 1;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
}
.recommend-section .recommend-wrap .recommend-inner .owl-dots .owl-dot span {
  box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
  width: 10.4px;
  height: 10.4px;
  margin: 5px;
  background: #fff;
  opacity: 0.5;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.recommend-section .recommend-wrap .recommend-inner .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 1;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner {
  width: 70%;
  margin: 0 auto;
  padding-top: 27px;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-prev {
  width: 12.2%;
  position: absolute;
  left: -16%;
  top: 38%;
  border: none;
  background: transparent;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-prev img {
  max-width: 100%;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-next {
  width: 12.2%;
  position: absolute;
  right: -16%;
  top: 38%;
  border: none;
  background: transparent;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-next img {
  max-width: 100%;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .rec-item {
  margin: 24px auto 0;
  width: 68%;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .rec-item img {
  max-width: 100%;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item button.owl-dot.active span {
  opacity: 1 !important;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots {
  margin-top: 43px;
  text-align: center;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  user-select: none;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots .owl-dot span {
  box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
  width: 10.4px;
  height: 10.4px;
  margin: 7px 3px;
  background: #fff;
  opacity: 0.5;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 1;
}
/* Event
  * By:@RoktimSazib
  * 24 Aug 2019
  */
.owl-carousel .owl-dots.disabled {
  display: block;
}
.event-inner .owl-carousel .owl-dots {
  display: none;
}
.event-section {
  position: relative;
  top: -151px;
}
.event-section .news-picks {
  background-color: #394351;
}
.event-section .news-picks .newspicks-inner {
  padding: 61px 0 83px;
}
.event-section .news-picks .newspicks-inner h1 {
  font-size: 20.76px;
  color: #fff;
  font-family: 'NotoSansCJKjp';
  text-align: center;
  margin-bottom: 53px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.event-section .news-picks .newspicks-inner .newspicks-btn {
  text-align: center;
}
.event-section .news-picks .newspicks-inner .newspicks-btn a {
  background: -moz-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff8800), color-stop(100%, #ffb000));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(360deg, #ff8800 0%, #ffb000 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #ff8800 0%, #ffb000 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8800', endColorstr='#ffb000', GradientType=1);
  /* ie6-9 */
  font-size: 18px;
  color: #fff;
  font-family: 'NotoSansCJKjp';
  padding: 19px 87px;
  border-radius: 32px;
  font-weight: 500;
}
.event-section .event-wrap {
  background-image: url("../images/event/event-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 55%;
  padding-top: 66px;
}
.event-section .event-wrap .event-inner {
  width: 80%;
}
.event-section .event-wrap .event-inner .section-title {
  font-size: 46px;
  color: #fff;
  font-weight: 500;
  font-family: 'Futura-Medium';
  text-align: center;
}
.event-section .event-wrap .event-inner .event-card {
  margin-top: 66px;
}
.event-section .event-wrap .event-inner .event-card .card-item {
  background: #fff;
  max-width: 92%;
  width: 100%;
  margin: 0 auto 15px;
  box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
  position: relative;
}
.event-section .event-wrap .event-inner .event-card .card-item .orange-bg {
  background: #ff8800;
}
.event-section .event-wrap .event-inner .event-card .card-item .aqua-bg {
  background: #4bb5c4;
}
.event-section .event-wrap .event-inner .event-card .card-item .silver-bg {
  background: #8c8c8c;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-btn {
  box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
  position: absolute;
  right: 12px;
  top: 12px;
  border-radius: 33px;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-btn a {
  color: #fff;
  padding: 4px 20px;
  display: inline-block;
  font-size: 1.250vw;
}
.event-section .event-wrap .event-inner .event-card .card-item .thumb-image img {
  max-width: 100%;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-caption {
  height: 120px;
  padding: 24px 19px 39px;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-caption h1 {
  font-size: 1.875vw;
  color: #333;
  font-weight: 500;
  font-family: 'NotoSansCJKjp';
  margin-bottom: 15px;
}
.card-caption .event-title {
  height: 64px;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-caption p {
  margin-bottom: -7px;
  font-size: 1.250vw;
  color: #333;
}
.event-section .event-wrap .event-inner .event-card .card-item .card-caption p span {
  font-family: 'NotoSansCJKjp-Medium';
}
.event-section .event-wrap .event-inner .event-card .owl-prev {
  position: absolute;
  top: 38.4%;
  left: -5%;
  background: transparent;
  border: none;
  width: 10%;
  z-index: 2;
}
.event-section .event-wrap .event-inner .event-card .owl-prev img {
  max-width: 100%;
}
.event-section .event-wrap .event-inner .event-card .owl-next {
  position: absolute;
  right: -5%;
  top: 38.4%;
  background: transparent;
  border: none;
  width: 10%;
}
.event-section .event-wrap .event-inner .event-card .owl-next img {
  max-width: 100%;
}
.event-section .event-wrap .event-inner .event-card .owl-dots {
  margin-top: 0;
  text-align: center;
  position: absolute;
  top: -108px;
  right: -38px;
}
.event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  user-select: none;
}
.event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot span {
  box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
  width: 10.2px;
  height: 10.2px;
  margin: 5px;
  background: #fff;
  opacity: 0.5;
  display: block;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot.active {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot.active span {
  opacity: 1 !important;
  background: #fff;
}
.event-section .student-wrap p,
.event-section .company-wrap p {
  margin: 0;
}
.event-section .student-wrap {
  margin-top: 30px;
  padding-bottom: 3%;
  background: url(../images/dot-bg@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.event-section .student-wrap .student-inner {
  width: 84%;
  margin: 0 auto;
}
.event-section .student-wrap h3 {
  text-align: center;
  margin-top: 4%;
  font-size: 1.4em;
  color: #f80;
}
.event-section .student-wrap .student-voices {
  margin-top: 5.3%;
}
.event-section .student-wrap .voice-row {
  display: flex;
}
.event-section .student-wrap .voice-row:nth-child(2) {
  margin-top: 6.2%;
}
.event-section .student-wrap .voice-row:nth-child(3) {
  margin-top: 5.8%;
}
.event-section .student-wrap .student-voice {
  width: 46.5%;
}
.event-section .student-wrap .student-voice:nth-child(1) {
  margin-right: 6%;
}
.event-section .student-wrap .student-voice h4 {
  font-size: 1.1em;
}
.event-section .student-wrap .student-voice p {
  margin: 0;
  margin-top: 7px;
  font-size: 0.9em;
  letter-spacing: -0.036em;
  line-height: 1.9;
  opacity: 0.5;
}
.event-section .company-wrap {
  background: url(../images/bg_pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6%;
}
.event-section .company-wrap .company-inner {
  width: 87%;
  margin: 0 auto;
}
.event-section .company-wrap h3 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 7%;
  color: #f80;
}
.event-section .company-wrap .company-logos {
  display: flex;
  margin-top: 4.5%;
}
.event-section .company-wrap .company-logos > div {
  display: flex;
  width: 50%;
}
.event-section .company-wrap .company-logos > div:nth-child(1) .company-logo:nth-child(1) {
  margin-right: 1.5%;
}
.event-section .company-wrap .company-logos > div:nth-child(1) .company-logo:nth-child(2) {
  margin-right: 1.8%;
}
.event-section .company-wrap .company-logos > div:nth-child(2) .company-logo:nth-child(1) {
  margin-left: 2.5%;
  margin-right: 3.1%;
}
.event-section .company-wrap .company-logos > div:nth-child(2) .company-logo:nth-child(2) {
  margin-right: 0.6%;
}
.event-section .company-wrap .company-logo {}
.event-section .company-wrap img {
  max-width: 100%;
}
.event-section .company-wrap .company-voices {
  display: flex;
  margin-top: 7%;
}
.event-section .company-wrap .company-voices > div {
  width: 47.3%;
}
.event-section .company-wrap .company-voice {
  display: flex;
}
.event-section .company-wrap .company-voice:nth-child(2),
.event-section .company-wrap .company-voice:nth-child(3) {
  margin-top: 25px;
}
.event-section .company-wrap .checkbox {
  width: 5.5%;
  margin: -3px 15px 0 10px;
}
/* Q&A
* By:@RoktimSazib
* 23 Aug 2019
*/
.arrow-open {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/qa/m@2x.png");
  right: 3px;
  top: 44%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
}
.arrow-close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/qa/plus@2x.png");
  right: 3px;
  top: 44%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
}
.qa-section {
  background-image: url("../images/qa/bg@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.qa-section .qa-accordion {
  margin-top: 94px;
}
.qa-section .qa-accordion .qa-wrap h1 {
  font-size: 46px;
  color: #333;
  font-weight: 500;
  font-family: 'Futura-Medium';
  text-align: center;
  letter-spacing: 2px;
}
.qa-section .qa-accordion .qa-wrap .qa-list {
  padding-top: 56px;
}
.qa-section .qa-accordion .qa-wrap .qa-list li {
  list-style: none;
  background: #fff;
  padding: 10px 28px;
  width: 80%;
  margin: 0 auto 18px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
}
.qa-section .qa-accordion .qa-wrap .qa-list li div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div p {
  margin: 0;
  color: #333;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div span.a {
  font-size: 28px;
  color: #ff8800;
  font-family: 'Futura-medium';
}
.qa-section .qa-accordion .qa-wrap .qa-list li div span.q {
  font-family: 'Futura-medium';
  font-size: 28px;
  color: #ff8800;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div .q-title {
  font-size: 18px;
  font-family: 'NotoSansCJKjp-Medium';
  font-weight: 500;
  padding-left: 22px;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div .a-title {
  font-family: 'NotoSansCJKjp';
  padding-left: 22px;
  font-size: 18px;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(1) {
  position: relative;
  padding: 8px 0;
  cursor: pointer;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(1) span.icon {
  position: absolute;
  right: 3px;
  top: 10px;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(1) span.icon img {
  max-width: 20px;
  width: 100%;
}
.qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(2) {
  padding: 5px 0;
  border-top: 2px solid;
  -webkit-border-image: url("../images/qa/line@2x.png") 10 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url("../images/qa/line@2x.png") 10 stretch;
  /* Opera 11-12.1 */
  border-image: url("../images/qa/line@2x.png") 10 stretch;
  border-bottom: 0px;
}
.qa-section .qa-accordion .qa-wrap .button-rap {
  width: 100%;
  padding: 48px 0 96px;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-rap .btn a {
  font-size: 18px;
  color: #fff;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
  display: block;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-left {
  width: 50%;
  float: left;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-left .btn-fill {
  max-width: 301px;
  width: 69.7%;
  float: right;
  margin-right: 18px;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-left .btn-fill a {
  background-color: #394351;
  padding: 18px 10px 21px;
  border-radius: 35px;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-right {
  width: 50%;
  float: left;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-right .btn-blank {
  max-width: 303px;
  width: 70%;
  margin-left: 18px;
}
.qa-section .qa-accordion .qa-wrap .button-rap .btn-right .btn-blank a {
  color: #333;
  padding: 18px 10px 21px;
  border-radius: 35px;
  border: 1.5px solid #394351;
  background-color: #fff;
}
/* Footer
* By:@RoktimSazib
* 23 Aug 2019
*/
.footer-section {
  background-color: rgba(33, 41, 55, 0.8);
  min-height: 262px;
}
.footer-section .copy-right .footer {
  padding: 63px 0 38px;
  max-width: 1280px;
}
.footer-section .copy-right .footer .footer-logo {
  width: 23.3%;
  float: left;
  margin-left: 5.8%;
}
.footer-section .copy-right .footer .footer-logo img {
  max-width: 174px;
  width: 100%;
}
.footer-section .copy-right .footer .f-link {
  width: 65%;
  float: right;
  margin-top: 5px;
}
.footer-section .copy-right .footer .f-link ul li {
  display: inline-block;
  padding-right: 27px;
}
.footer-section .copy-right .footer .f-link ul li:nth-child(2) {
  padding-left: 44px;
}
.footer-section .copy-right .footer .f-link ul li:nth-child(3) {
  padding-left: 0;
  padding-right: 43px;
}
.footer-section .copy-right .footer .f-link ul li:nth-child(4) {
  padding-left: 0;
  padding-right: 0;
}
.footer-section .copy-right .footer .f-link ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.footer-section .copy-right .footer .f-link ul li a:hover {
  color: #fff;
  transition: 0.3s;
}
.footer-section .copy-right .footer .f-link ul.second {
  margin-top: 19px;
}
.footer-section .copy-right .footer p {
  clear: both;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  text-align: center;
  margin-top: 121px;
  font-weight: 500;
}
.footer-section .copy-right .footer .hover {
  color: #fff !important;
}
@media only screen and (min-width: 1281px) {
  .event-section .event-wrap .event-inner .event-card .card-item .card-caption h1 {
    font-size: 24px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-caption p {
    font-size: 16px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-btn a {
    font-size: 16px;
  }
}
/* ==========================================================================
   style for smartphone max-width:768px
============================================================================= */
@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  /* About SP
  * By:@RoktimSazib
  * 26 Aug 2019
  */
  .about-section {
    position: relative;
    top: 10px;
    z-index: 2;
  }
  .about-section .about-rap {
    background-image: url("../images/sp/about-background@2x.png");
  }
  .about-section .about-rap .about-content {
    margin: 0 auto 7px;
    padding-top: 74px;
  }
  .about-section .about-rap .about-content h1 {
    font-size: 35.14px;
  }
  .about-section .about-rap .about-content .content {
    margin-top: 28px;
    padding: 0 10px 73px;
  }
  .about-section .about-rap .about-content .content p {
    font-size: 15.23px;
    color: #333;
    font-family: 'NotoSansCJKjp';
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 33px;
    margin-top: 0;
  }
  .about-section .about-rap .about-content .content p:nth-child(1) {
    width: 87%;
    margin: 0 auto;
    letter-spacing: 0;
  }
  .about-section .about-rap .about-content .content p:nth-child(2) {
    width: 94%;
    margin: 4px auto;
  }
  .about-section .about-rap .about-content .content p:nth-child(3) {
    letter-spacing: 0;
  }
  .about-section .about-rap .about-content .content p:nth-child(4) {
    margin: 38px auto 0;
    letter-spacing: 0;
  }
  .about-section .about-rap .about-content .content p:nth-child(6) {
    margin-top: 8px;
  }
  .about-section .about-rap .about-content .content .mt-38 {
    margin-top: 38px;
  }
  /* Recommend SP
  * By:@RoktimSazib
  * 30 Aug 2019
  */
  .recommend-section .recommend-wrap {
    background-image: url('../images/sp/recommend/bg@2x.png');
  }
  .recommend-section .recommend-wrap .recommend-inner {
    width: 100%;
    padding: 60px 0 46px;
  }
  .recommend-section .recommend-wrap .recommend-inner .section-title {
    font-size: 35.14px;
    letter-spacing: 0;
    line-height: 1;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner {
    width: 100%;
    padding-top: 47px;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item {
    position: relative;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .rec-item {
    margin: 27px auto 0;
    width: 78%;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots {
    margin-top: 33px;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-prev {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 7%;
    z-index: 999;
    background: none;
    transform: translateY(-50%);
    background-image: url(../images/sp/recommend/left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 22px;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-prev img {
    display: none;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-next {
    z-index: 999;
    width: 7%;
    position: absolute;
    top: 40%;
    right: 17%;
    background: none;
    transform: translateY(-50%);
    background-image: url(../images/sp/recommend/right.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 22px;
    background-position: center;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-next img {
    display: none;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px;
  }
  .recommend-section .owl-item {
    opacity: 0.5;
  }
  .recommend-section .owl-item.center {
    opacity: 1;
  }
  .recommend-section .owl-item.center .rec-item {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .recommend-section .owl-item.active.center {
    opacity: 1 !important;
  }
  /* Event SP
  * By:@RoktimSazib
  * 26 Aug 2019 boodoo/bodoun/bodou/
  */
  .event-section {
    top: -151px;
  }
  .event-section .news-picks .newspicks-inner {
    padding: 43px 0 65px;
  }
  .event-section .news-picks .newspicks-inner h1 {
    font-size: 14.38px;
    margin-bottom: 40px;
  }
  .event-section .news-picks .newspicks-inner .newspicks-btn a {
    font-size: 15.82px;
    border-radius: 56px;
    padding: 16px 108px;
  }
  .event-section .event-wrap {
    background-image: url("../images/sp/bg@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 30%%;
    padding-top: 36px;
  }
  .event-section .event-wrap .event-inner {
    width: 81%;
  }
  .event-section .event-wrap .event-inner .section-title {
    font-size: 35.14px;
  }
  .event-section .event-wrap .event-inner .event-card {
    margin-top: 35px;
    position: relative;
  }
  .event-section .event-wrap .event-inner .event-card .card-item {
    max-width: 92%;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-btn {
    right: 13px;
    top: 11px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-btn a {
    padding: 6px 24px;
    font-size: 16.35px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-caption {
    height: 144px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-caption h1 {
    font-size: 24.52px;
  }
  .event-section .event-wrap .event-inner .event-card .card-item .card-caption p {
    margin-bottom: -2px;
    font-size: 16.35px;
    color: #333;
    letter-spacing: 0.2px;
  }
  .event-section .event-wrap .event-inner .event-card .owl-next {
    right: -11%;
    top: 39%;
    background: none;
    border: 0;
    position: absolute;
    z-index: 9;
    width: 13.8%;
    padding: 0;
    -webkit-appearance: none;
  }
  .event-section .event-wrap .event-inner .event-card .owl-prev {
    top: 39%;
    left: -11%;
    background: none;
    border: 0;
    position: absolute;
    z-index: 9;
    width: 13.5%;
    padding: 0;
    -webkit-appearance: none;
  }
  .event-section .event-wrap .event-inner .event-card .owl-dots button.owl-dot.active {
    margin: 0;
    padding: 0;
    background: linear-gradient(#fff, #fff) padding-box, /*this is your grey background*/ linear-gradient(to right, #ff8800, #ffb000) border-box;
    color: #313149;
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
  }
  .event-section .event-wrap .event-inner .event-card button.owl-dot.active span {
    opacity: 1 !important;
    background: #000 !important;
  }
  .event-section .event-wrap .event-inner .event-card .owl-dots {
    margin-top: 10px;
    text-align: center;
    position: static;
  }
  .event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    user-select: none;
  }
  .event-section .event-wrap .event-inner .event-card .owl-dots .owl-dot span {
    box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
    width: 10.2px;
    height: 10.2px;
    margin: 4px;
    background: #333;
    opacity: 0.5;
    display: block;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  .event-section .student-wrap {
    margin-top: 40px;
    background-size: contain;
    padding-bottom: 9%;
  }
  .event-section .student-wrap .student-inner {
    width: 90%;
  }
  .event-section .student-wrap h3 {
    margin-top: 4%;
    font-size: 0.75em;
  }
  .event-section .student-wrap .student-voices {
    margin: 11% auto 0;
    max-width: 425px;
  }
  .event-section .student-wrap .student-voice {
    width: 100%;
    margin-right: 0;
  }
  .event-section .student-wrap .student-voice:nth-child(2) {
    margin-top: 21px;
  }
  .event-section .student-wrap .student-voice h4 {
    font-size: 0.7em;
  }
  .event-section .student-wrap .student-voice p {
    margin-top: 0;
    font-size: 0.6em;
    letter-spacing: -0.14em;
    line-height: 1.4;
  }
  .event-section .student-wrap .voice-row {
    display: block;
    margin-top: 0;
  }
  .event-section .student-wrap .voice-row:nth-child(2) {
    margin-top: 23px;
  }
  .event-section .student-wrap .voice-row:nth-child(3) {
    margin-top: 18px;
  }
  .event-section .company-wrap {
    background: url(../images/sp/bg_sp.png);
    background-repeat: repeat;
    background-size: contain;
    padding-bottom: 13%;
  }
  .event-section .company-wrap .company-inner {
    width: 88%;
  }
  .event-section .company-wrap h3 {
    font-size: 0.75em;
    margin-top: 13.3%;
  }
  .event-section .company-wrap .company-logos {
    display: block;
    margin: 10% auto 0;
    max-width: 425px;
  }
  .event-section .company-wrap .company-logos > div {
    width: 100%;
  }
  .event-section .company-wrap .company-logos > div:nth-child(2) {
    margin-top: 2%;
  }
  .event-section .company-wrap .company-logo {
    margin: 0;
  }
  .event-section .company-wrap .company-voices {
    display: block;
    margin: 10% auto 0;
    max-width: 425px;
  }
  .event-section .company-wrap .company-voices > div {
    width: 100%;
  }
  .event-section .company-wrap .company-voices > div:nth-child(2) {
    margin-top: 12px;
  }
  .event-section .company-wrap .checkbox {
    margin: -6px 13px 0 6px;
    width: 4.7%;
  }
  .event-section .company-wrap .company-voice:nth-child(2),
  .event-section .company-wrap .company-voice:nth-child(3) {
    margin-top: 12px;
  }
  .event-section .company-wrap .company-voice p {
    font-size: 0.65em;
  }
  /* Q&A SP
  * By:@RoktimSazib
  * 26 Aug 2019
  */
  .qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(2) {
    border-top: 1.5px solid;
  }
  .arrow-open {
    width: 12px;
    right: 2px;
    top: 38%;
  }
  .arrow-close {
    width: 12px;
    top: 40%;
  }
  .qa-section {
    margin-top: -37%;
  }
  .qa-section .qa-accordion {
    margin-top: 67px;
    float: none !important;
  }
  .qa-section .qa-accordion .qa-wrap h1 {
    font-size: 35.14px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list {
    padding-top: 28px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li {
    padding: 10px 12px;
    width: 93%;
    margin: 0 auto 12px;
    box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div {
    align-items: baseline;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div span.q {
    font-size: 18px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div span.a {
    font-size: 18px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div .q-title {
    font-size: 15.23px;
    padding: 0 13px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div .a-title {
    font-size: 15.23px;
    padding: 0 17px;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(1) {
    padding: 8px 0;
  }
  .qa-section .qa-accordion .qa-wrap .qa-list li div:nth-child(2) {
    padding: 8px 0;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap {
    padding: 23px 0 50px;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-left {
    width: 100%;
    float: none;
    margin-bottom: 18px;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-left .btn-fill {
    max-width: 92%;
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-left .btn-fill a {
    padding: 18px 10px;
    font-size: 16px;
    max-width: 308px;
    margin: 0 auto;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-right {
    width: 100%;
    float: none;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-right .btn-blank {
    max-width: 92%;
    width: 100%;
    margin: 0 auto;
  }
  .qa-section .qa-accordion .qa-wrap .button-rap .btn-right .btn-blank a {
    padding: 17px 10px 16px;
    font-size: 16px;
    max-width: 308px;
    margin: 0 auto;
  }
  /* Footer SP
  * By:@RoktimSazib
  * 26 Aug 2019
  */
  .footer-section .copy-right {
    float: none;
  }
  .footer-section .copy-right .footer {
    padding: 46px 0 0;
    max-width: 100%;
  }
  .footer-section .copy-right .footer .sp-nav-link li.first-link {
    float: left;
    margin-left: 4%;
    margin-right: 7%;
    list-style: none;
  }
  .footer-section .copy-right .footer .sp-nav-link li.first-link a {
    color: #fff;
    font-size: 13px;
  }
  .footer-section .copy-right .footer .sp-nav-link ul.list-link {
    float: left;
  }
  .footer-section .copy-right .footer .sp-nav-link ul.list-link li:nth-child(1) {
    margin-bottom: 4px;
  }
  .footer-section .copy-right .footer .sp-nav-link ul.list-link li a {
    color: #fff;
    font-size: 13px;
    opacity: 0.80;
  }
  .footer-section .copy-right .footer .sp-nav-link .second {
    margin-top: 16px;
  }
  .footer-section .copy-right .footer .f-logo {
    border-top: 1px solid #fff;
    padding-top: 27px;
    width: 92%;
    margin: 35px auto 28px;
  }
  .footer-section .copy-right .footer .f-logo img {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .footer-section .copy-right .footer p {
    padding-bottom: 35px;
    font-size: 12px;
    margin: 0;
  }
}
@media only screen and (max-width: 360px) {
  .about-section .about-rap .about-content .content p:nth-child(2) {
    width: 98%;
  }
  .about-section .about-rap .about-content .content p:nth-child(4) {
    width: 94%;
  }
}
@media only screen and (max-width: 320px) {
  .event-section .event-wrap .event-inner .event-card .owl-prev {
    left: -34px;
  }
  .event-section .event-wrap .event-inner .event-card .owl-next {
    right: -30px;
  }
  .event-section .news-picks .newspicks-inner .newspicks-btn a {
    padding: 16px 96px;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-prev {
    left: 22%;
  }
  .recommend-section .recommend-wrap .recommend-inner .step-inner .recommend-item .owl-next {
    right: 22%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 251px;
  height: 100%;
  background-color: #212937;
  z-index: 1000;
}
.sidemenu .sidemenu-rap {
  padding-top: 200px;
}
.sidemenu .sidemenu-rap .logo {
  width: 160px;
  margin-left: 45px;
  padding-top: 13px;
}
.sidemenu .sidemenu-rap .logo img {
  width: 100%;
}
.sidemenu .sidemenu-rap .main-menu {
  padding-left: 30px;
  padding-top: 28px;
}
.sidemenu .sidemenu-rap .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidemenu .sidemenu-rap .main-menu ul li {
  list-style: none;
  margin-bottom: 20px;
  background-image: none;
}
.sidemenu .sidemenu-rap .main-menu ul li a {
  font-family: Futura-Medium;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 15px;
}
.sidemenu .sidemenu-rap .main-menu ul li.active {
  background-repeat: no-repeat;
  background-size: 12px 2px;
  background-position: 7% 11px;
  background-image: url("../images/hyphen@2x.png");
  padding-left: 22px;
}
.sidemenu .sidemenu-rap .main-menu ul li.active a {
  opacity: 1;
}
.sidemenu .sidemenu-rap .main-menu ul li:first-child {
  margin-bottom: 20px;
}
/*Top section*/
.top-section #zoom-slider-container {
  position: relative;
  /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
  overflow: hidden;
  /* to bound the empty top space created by inner element's top margin */
  width: 100%;
  min-height: 400px;
  background-color: #999;
}
.top-section #zoom-slider-container .zs-bullets {
  display: none;
}
.top-section #zoom-slider-container .demo-inner-content {
  position: relative;
  /* if position is not set, the script will set it to 'relative'. */
  z-index: 2;
  /* if z-index is not set, the script will set it to '2'.  24.7% auto 27%*/
  margin: 19% auto 20.6%;
  padding: 40px;
  max-width: 707px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.top-section #zoom-slider-container .demo-inner-content p {
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 24.76px;
  color: #fff;
  margin: 0;
  padding: 25px 0;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.top-section #zoom-slider-container .demo-inner-content .top-image {
  width: 100%;
}
.top-section #zoom-slider-container .demo-inner-content .top-image img {
  width: 100%;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-words {
  width: 100%;
  padding: 64px 0 13px;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-words p {
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 20.76px;
  color: #fff;
  padding: 0;
  letter-spacing: 1.3px;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-btn {
  width: 100%;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-btn .news-pic-btn-rap {
  width: 45.5%;
  margin: 49px auto 0;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-btn .news-pic-btn-rap a {
  display: block;
}
.top-section #zoom-slider-container .demo-inner-content .news-pic-btn .news-pic-btn-rap a img {
  width: 100%;
  margin-left: 5px;
}
/*Theme section*/
.theme-section {
  width: 100%;
  position: relative;
  top: -81px;
}
.theme-section .section-title {
  width: 100%;
  text-align: center;
  padding: 76px 0 61px;
}
.theme-section .section-title h1 {
  font-size: 46px;
  color: #333333;
  font-family: 'Futura-Medium', sans-serif;
}
.theme-section .section-body {
  width: 100%;
}
.theme-section .section-body .theme-rap {
  width: 78%;
  margin: 0 auto;
}
.theme-section .section-body .theme-rap .themes .theme-caro {
  position: relative;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-prev {
  background: none;
  border: 0;
  position: absolute;
  left: -5.2%;
  top: 24.1%;
  z-index: 9;
  width: 8.3%;
  padding: 0;
  -webkit-appearance: none;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-prev img {
  width: 100%;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-next {
  background: none;
  border: 0;
  position: absolute;
  right: -5.2%;
  top: 24.4%;
  z-index: 9;
  width: 8.2%;
  padding: 0;
  -webkit-appearance: none;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-next img {
  width: 100%;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-dots {
  margin-top: 0;
  text-align: center;
  position: absolute;
  top: -103px;
  right: -38px;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  user-select: none;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot span {
  box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
  width: 10.2px;
  height: 10.2px;
  margin: 5px;
  background: #333;
  opacity: 0.15;
  display: block;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot.active {
  background: linear-gradient(#fff, #fff) padding-box, /*this is your grey background*/ linear-gradient(to right, #ff8800, #ffb000) border-box;
  color: #313149;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 5px rgba(63, 63, 63, 0.25);
}
.theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot.active span {
  opacity: 1;
}
.theme-section .section-body .theme-rap .themes .theme .theme-outer-inner {
  width: 98.5%;
  float: left;
  position: relative;
  background: #f5f5f5;
  box-shadow: 0 1px 2px rgba(63, 63, 63, 0.25);
  margin-right: 0;
  padding: 17px 0;
}
.theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-inner {
  width: 44%;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
}
.theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-inner img {
  width: 100%;
}
.theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-title {
  position: absolute;
  background-color: rgba(57, 67, 81, 0.85);
  width: 100%;
  bottom: 0;
  left: 0;
}
.theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-title p {
  margin: 0;
  padding: 6.1% 5px;
  font-size: 1.328vw;
  color: #fff;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
}
.theme-section .section-body .theme-rap .themes .theme .theme-name {
  width: 100%;
  float: left;
}
.theme-section .section-body .theme-rap .themes .theme .theme-name p {
  margin: 0;
  padding: 8% 5px;
  font-size: 1.328vw;
  color: #333;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
}
.theme-section .section-body .theme-rap .themes .theme:nth-child(3n+3) {
  margin-right: 0;
}
.theme-section .section-body .button-rap {
  width: 100%;
  padding: 32px 0 88px;
}
.theme-section .section-body .button-rap .btn-rap .btn a {
  font-size: 1.406vw;
  color: #fff;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
  display: block;
  box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
}
.theme-section .section-body .button-rap .btn-left {
  width: 50%;
  float: left;
}
.theme-section .section-body .button-rap .btn-left .btn-fill {
  max-width: 301px;
  width: 69.7%;
  float: right;
  margin-right: 18px;
}
.theme-section .section-body .button-rap .btn-left .btn-fill a {
  background-color: #394351;
  padding: 18px 10px 21px;
  border-radius: 35px;
}
.theme-section .section-body .button-rap .btn-right {
  width: 50%;
  float: left;
}
.theme-section .section-body .button-rap .btn-right .btn-blank {
  max-width: 303px;
  width: 70%;
  margin-left: 18px;
}
.theme-section .section-body .button-rap .btn-right .btn-blank a {
  color: #333;
  padding: 18px 10px 21px;
  border-radius: 35px;
  border: 1.5px solid #394351;
}
/*Flow section */
.flow-section {
  width: 100%;
  background-image: url("../images/dot-bg@2x.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: relative;
  top: -149px;
}
.flow-section .section-title {
  width: 100%;
  text-align: center;
  padding: 103px 0 33px;
}
.flow-section .section-title h1 {
  font-size: 46px;
  color: #333333;
  font-family: 'Futura-Medium', sans-serif;
}
.flow-section .section-body {
  width: 100%;
  padding-bottom: 110px;
}
.flow-section .section-body .flow-rap {
  max-width: 900px;
  width: 60%;
  margin: 0 auto;
}
.flow-section .section-body .flow-rap .flow-part img {
  width: 103%;
}
/*Flow section */
.access-section {
  width: 100%;
  position: relative;
  top: -161px;
}
.access-section .section-title {
  width: 100%;
  text-align: center;
  padding: 66px 0 51px;
}
.access-section .section-title h1 {
  font-size: 46px;
  color: #333333;
  font-family: 'Futura-Medium', sans-serif;
}
.access-section .section-body {
  width: 100%;
}
.access-section .section-body .access-rap .map {
  min-height: 509px;
}
.access-section .section-body .access-rap .access-address {
  width: 100%;
}
.access-section .section-body .access-rap .access-address .access-address-rap {
  width: 100%;
}
.access-section .section-body .access-rap .access-address .access-address-rap p.location {
  font-size: 18px;
  font-family: 'NotoSansCJKjp-DemiLight';
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 43px 10px;
}
.access-section .section-body .access-rap .access-address .access-address-rap p.location span {
  font-family: 'NotoSansCJKjp-Medium';
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details {
  width: 84%;
  margin: 0 auto;
  background: rgba(245, 245, 245, 0.6);
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap {
  padding: 30px 10px 34px;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .details p {
  font-size: 16px;
  font-family: 'NotoSansCJKjp-DemiLight';
  color: #333333;
  text-align: center;
  margin: 0;
  line-height: 32px;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part {
  padding: 29px 0 0;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left {
  width: 57.4%;
  float: left;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part {
  float: right;
  background-image: url("../images/v-line@2x.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part p {
  font-family: 'NotoSansCJKjp-Medium';
  color: #333333;
  font-size: 16px;
  margin: 0;
  padding: 3px 10px 5px 23px;
  line-height: 28px;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right {
  width: 42%;
  float: left;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right .address-right-part {
  background-image: url("../images/v-line@2x.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 12.6%;
}
.access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right .address-right-part p {
  font-family: 'NotoSansCJKjp-Medium';
  color: #333333;
  font-size: 16px;
  margin: 0;
  padding: 3px 10px 5px 23px;
  line-height: 28px;
}
/*News Pic News*/
.newspic-news {
  width: 83.6%;
  background-image: url('../images/theme-bg-img@2x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 62% 100%;
  margin: 54px auto 19px;
}
.newspic-news .news {
  border: 2px solid;
  border-image: linear-gradient(45deg, #ff8800, #ffb000) 1;
  width: 100%;
  box-shadow: 0 0 10px -5px #3f3f3f;
  -moz-box-shadow: 0 0 10px -5px #3f3f3f;
  -webkit-box-shadow: 0 0 10px -5px #3f3f3f;
  -o-box-shadow: 0 0 10px -5px #3f3f3f;
}
.newspic-news .news .news-link {
  width: 100%;
}
.newspic-news .news .news-link .news-link-info {
  width: 100%;
}
.newspic-news .news .news-link .news-link-info h3 {
  font-size: 2.500vw;
  color: #333333;
  font-family: 'Futura-Medium', sans-serif;
  text-align: right;
  margin: 0;
  padding: 2% 13.2% 9px 0;
}
.newspic-news .news .news-link .news-link-info .news-pic-top-logo {
  width: 100%;
  padding: 22px 0 13px;
}
.newspic-news .news .news-link .news-link-info .news-pic-top-logo img {
  width: 26.4%;
  float: right;
  margin-right: 8.4%;
}
.newspic-news .news .news-link .news-link-info .txt-news {
  width: 34%;
  float: right;
  margin-right: 4.8%;
}
.newspic-news .news .news-link .link-news {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 1.8%;
}
.newspic-news .news .news-link .link-news a {
  display: block;
}
.newspic-news .news .news-link .link-news a img {
  width: 26%;
  float: right;
  margin-right: 8.6%;
}
@media only screen and (min-width: 1281px) {
  .theme-section .section-body .theme-rap .button-rap .btn-rap .btn a {
    font-size: 18px;
  }
  .theme-section .section-body .button-rap .btn-rap .btn a {
    font-size: 18px;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-title p {
    padding: 16px 0;
    font-size: 17px;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-name p {
    font-size: 17.51px;
  }
}
@media only screen and (max-width: 768px) {
  .main-rap {
    width: 100%;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  .topmenu {
    width: 100%;
  }
  .topmenu .top-menu-rap {
    width: 100%;
  }
  .topmenu .top-menu-rap .top-menu-icon {
    background-color: #212937;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
  }
  .topmenu .top-menu-rap .top-menu-icon .sp-logo {
    max-width: 45.3%;
    padding-left: 23px;
  }
  .topmenu .top-menu-rap .top-menu-icon .sp-logo img {
    width: 100%;
  }
  .topmenu .top-menu-rap .top-menu-icon .menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 9%;
    z-index: 9999;
    overflow: hidden;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div {
    position: absolute;
    left: 50%;
    width: 36%;
    margin-left: -3.5vw;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    transition: top 1s, -webkit-transform 1s;
    transition: top 1s, transform 1s;
    transition: top 1s, transform 1s, -webkit-transform 1s;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div img {
    width: 100%;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div img.open-line {
    display: none;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div img.close-line {
    display: block;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div:nth-of-type(1) {
    top: 34%;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div:nth-of-type(2) {
    top: 48%;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div:nth-of-type(3) {
    top: 62%;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div {
    margin-top: -2px;
    margin-left: -2.7vw;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div:nth-last-of-type(1) {
    top: 50%;
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div:nth-last-of-type(2) {
    top: 50%;
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div:nth-last-of-type(3) {
    top: -50%;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div img.open-line {
    display: block;
  }
  .topmenu .top-menu-rap .top-menu-icon .nav-switch-on div img.close-line {
    display: none;
  }
  .topmenu .top-menu-rap .top-nav-rap {
    width: 100%;
    background-color: #212937;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    display: none;
    overflow: hidden;
    overflow-y: auto;
  }
  .topmenu .top-menu-rap .top-nav-rap ul {
    list-style: none;
    margin: 0;
    padding: 28.5% 0 19px;
  }
  .topmenu .top-menu-rap .top-nav-rap ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 24px;
  }
  .topmenu .top-menu-rap .top-nav-rap ul li a {
    font-family: 'Futura-Medium', sans-serif;
    font-size: 18.75px;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .topmenu .top-menu-rap .top-nav-rap .button-rap-sp {
    width: 100%;
  }
  .topmenu .top-menu-rap .top-nav-rap .button-rap-sp .btn-top {
    width: 90%;
    max-width: 337px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .topmenu .top-menu-rap .top-nav-rap .button-rap-sp .btn-top img {
    width: 100%;
  }
  .topmenu .top-menu-rap .top-nav-rap .button-rap-sp .btn-bottom {
    max-width: 339px;
    width: 90.2%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .topmenu .top-menu-rap .top-nav-rap .button-rap-sp .btn-bottom img {
    width: 100%;
  }
  /*Top section sp*/
  .top-section #zoom-slider-container .demo-inner-content {
    margin: 41.7% auto 55.7%;
    padding: 40px 0;
    max-width: 645px;
    width: 95%;
  }
  .top-section #zoom-slider-container .demo-inner-content p {
    font-size: 12.46px;
    color: #fff;
    padding: 25px 0 18px;
    letter-spacing: 1px;
  }
  .top-section #zoom-slider-container .demo-inner-content .top-image {
    width: 100%;
  }
  .top-section #zoom-slider-container .demo-inner-content .top-image img {
    width: 89%;
  }
  .top-section #zoom-slider-container .demo-inner-content .news-pic-words {
    padding: 43px 0 17px;
  }
  .top-section #zoom-slider-container .demo-inner-content .news-pic-words p {
    font-size: 14.38px;
    letter-spacing: 1px;
  }
  .top-section #zoom-slider-container .demo-inner-content .news-pic-btn {
    position: relative;
    top: 55px;
  }
  .top-section #zoom-slider-container .demo-inner-content .news-pic-btn .news-pic-btn-rap {
    width: 94.5%;
    margin: 0 auto;
  }
  .top-section #zoom-slider-container .demo-inner-content .news-pic-btn .news-pic-btn-rap a img {
    margin-left: 0;
  }
  /*Theme section SP*/
  .theme-section {
    top: -81px;
  }
  .theme-section .section-title {
    padding: 113px 0 35px;
  }
  .theme-section .section-title h1 {
    font-size: 35.14px;
  }
  .theme-section .section-body .theme-rap {
    width: 75%;
    margin: 0 auto;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro {
    position: relative;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-prev {
    background: none;
    border: 0;
    position: absolute;
    left: -15.3%;
    top: 31.8%;
    z-index: 9;
    width: 13.5%;
    padding: 0;
    -webkit-appearance: none;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-prev img {
    width: 100%;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-next {
    background: none;
    border: 0;
    position: absolute;
    right: -15.1%;
    top: 31.8%;
    z-index: 9;
    width: 13.8%;
    padding: 0;
    -webkit-appearance: none;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-next img {
    width: 100%;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-dots {
    margin-top: 9px;
    text-align: center;
    position: static;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    user-select: none;
    margin-left: 1px;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot span {
    box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
    width: 9px;
    height: 9px;
    margin: 3px 3px;
    background: #394351;
    opacity: 0.4;
    display: block;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  .theme-section .section-body .theme-rap .themes .theme-caro .owl-dots .owl-dot.active span {
    opacity: 1;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-outer-inner {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 31px;
    padding: 17px 0;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-inner {
    width: 44.5%;
    margin: 0 auto;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-outer-inner .theme-title p {
    padding: 16px 0;
    font-size: 17.64px;
  }
  .theme-section .section-body .theme-rap .themes .theme:nth-child(3n+3) {
    margin-right: 0;
  }
  .theme-section .section-body .theme-rap .button-rap {
    width: 100%;
    padding: 32px 0 72px;
    display: none;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-rap .btn a {
    font-size: 18px;
    color: #fff;
    font-family: 'NotoSansCJKjp-Medium';
    text-align: center;
    display: block;
    box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
  }
  .theme-section .section-body .theme-rap .button-rap .btn-left {
    width: 100%;
    float: none;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-left .btn-fill {
    max-width: 301px;
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-left .btn-fill a {
    background-color: #394351;
    padding: 18px 10px 21px;
    border-radius: 35px;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-right {
    width: 100%;
    float: none;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-right .btn-blank {
    max-width: 303px;
    width: 100%;
    margin: 0 auto;
  }
  .theme-section .section-body .theme-rap .button-rap .btn-right .btn-blank a {
    color: #333;
    padding: 18px 10px 21px;
    border-radius: 35px;
    border: 1.5px solid #394351;
  }
  .theme-section .section-body .button-rap {
    width: 100%;
    padding: 31px 0 43px;
  }
  .theme-section .section-body .button-rap .btn-rap .btn a {
    font-size: 15.81px;
    color: #fff;
    font-family: 'NotoSansCJKjp-Medium';
    text-align: center;
    display: block;
    box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
  }
  .theme-section .section-body .button-rap .btn-left {
    width: 100%;
    float: none;
  }
  .theme-section .section-body .button-rap .btn-left .btn-fill {
    max-width: 327px;
    width: 90%;
    float: none;
    margin: 0 auto;
    padding-bottom: 19px;
  }
  .theme-section .section-body .button-rap .btn-left .btn-fill a {
    background-color: #394351;
    padding: 16px 10px 18px;
    border-radius: 35px;
  }
  .theme-section .section-body .button-rap .btn-right {
    width: 100%;
    float: none;
  }
  .theme-section .section-body .button-rap .btn-right .btn-blank {
    max-width: 329px;
    width: 90%;
    margin: 0 auto;
  }
  .theme-section .section-body .button-rap .btn-right .btn-blank a {
    color: #333;
    padding: 16px 10px 18px;
    border-radius: 35px;
    border: 1.5px solid #394351;
  }
  /*Flow section SP */
  .flow-section {
    background-image: url("../images/sp/dot-bg@2x.png");
    top: -117px;
  }
  .flow-section .section-title {
    padding: 67px 0 42px;
  }
  .flow-section .section-title h1 {
    font-size: 35.14px;
  }
  .flow-section .section-body {
    padding-bottom: 96px;
  }
  .flow-section .section-body .flow-rap {
    width: 93%;
    margin: 0 auto;
  }
  .flow-section .section-body .flow-rap .flow-part img {
    width: 100%;
  }
  /*Flow section SP */
  .access-section {
    top: -161px;
  }
  .access-section .section-title {
    padding: 38px 0 35px;
  }
  .access-section .section-title h1 {
    font-size: 35.14px;
  }
  .access-section .section-body .access-rap .map {
    min-height: 299px;
  }
  .access-section .section-body .access-rap .access-address {
    width: 100%;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap {
    width: 100%;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap p.location {
    font-size: 15.23px;
    padding: 31px 10px 32px;
    line-height: 27px;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details {
    width: 87%;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap {
    padding: 12px 16px 20px;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .details p {
    font-size: 14.06px;
    line-height: 28px;
    text-align: left;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .details p br {
    display: none;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part {
    padding: 22px 0 0;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left {
    width: 100%;
    float: none;
    margin-bottom: 17px;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part {
    float: left;
    background-image: url("../images/sp/line@2x.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part p {
    font-size: 14.06px;
    margin: 0;
    padding: 0 5px 0px 15px;
    line-height: 22px;
    margin-top: -3px;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right {
    width: 100%;
    float: none;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right .address-right-part {
    background-image: url("../images/sp/line@2x.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right .address-right-part p {
    font-size: 14.06px;
    margin: 0;
    padding: 5px 5px 8px 15px;
    line-height: 28px;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-right .address-right-part p br {
    display: none;
  }
  /*News Pic News SP*/
  .newspic-news {
    width: 88.3%;
    background-image: url('../images/news-bg-img@2x.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 62% 100%;
    margin-top: 26px;
    margin-left: 5.5%;
    margin-bottom: 12px;
  }
  .newspic-news .news {
    border: 2px solid;
    border-image: linear-gradient(45deg, #ff8800, #ffb000) 1;
    width: 99.9%;
  }
  .newspic-news .news .news-link {
    width: 100%;
  }
  .newspic-news .news .news-link .news-link-info {
    width: 100%;
  }
  .newspic-news .news .news-link .news-link-info h3 {
    font-size: 3.259vw;
    padding: 1.3% 13.5% 3px 0;
  }
  .newspic-news .news .news-link .news-link-info .news-pic-top-logo {
    padding: 7px 0 3px;
  }
  .newspic-news .news .news-link .news-link-info .news-pic-top-logo img {
    margin-right: 9.4%;
  }
  .newspic-news .news .news-link .news-link-info .txt-news {
    margin-right: 2.1%;
    width: 41%;
  }
  .newspic-news .news .news-link .link-news {
    padding-top: 1px;
    padding-bottom: 1%;
  }
  .newspic-news .news .news-link .link-news a img {
    width: 31.3%;
    margin-right: 7%;
  }
}
@media only screen and (max-width: 360px) {
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div {
    width: 40%;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part p br {
    display: none;
  }
}
